/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 24px;
}

main .overview-hero .container {
    background-color: #dddddd;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}